<div class="side-bar-header">
  <div class="header-name">
    <a href="#"><%= current_user.nickname %></a>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, item_room_messages_path(room.item_id, room.id) %>
      </div>
    </div>
  <% end %>
</div>